/*
Colors used

Text Color (Dark Gray): #2b2b2b;
Primary Color (Orange): #E03400;
Secondary Color (light orange ): #f2ad99;
 */

 body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  color: #2b2b2b;
  display:flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  }

    *,
    *::before,
    *::after {
      box-sizing: inherit;
    }

/* Header */
.page-header{
  display:flex;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  font-weight: bold;
  font-size: large;
}

.page-header__item{
  flex: 0 1 200px;
}

.favicon{
  width: 300px;
  height: 300px;
}

.page-header__item:last-child{
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-top: 30px;
  margin-right: 15px;
}

.navigation-list__item--active {
  text-decoration: none;
  }
  
/* Footer */
footer{
  clear: both;
  display: flex;
  flex-direction: column;
  bottom:0;
  left: 0;
  margin-bottom:0px;
  width:100%;
  text-align: center;
  text-decoration: none;
  padding: 1rem;
  box-sizing: border-box;
  background-color: #f5c2b2;
  }

.social-media{
  text-decoration: none;
}

.profile, .about, .contact {
  max-width: 1200px;
  margin: 0 auto;
}
  
main {
  flex-grow: 1;
  padding: 2rem;
  max-width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

h1 {
  font-style: normal;
  text-align: center;
  color: #E03400;
  margin: 10px;
  width: 100%;
  text-align: center;
}

h2 {
  color: #E03400;
  text-align: center;
}

/* Home Page */
.profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  place-items: center;
  text-align: center;
}

.profile_portrait {
  width: 25vw;
  border-radius: 50%;
}

/* About Page */
.about-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
}

.about-image {
  width: 500px;
  height: auto;
  justify-self: center;
  align-self: center;
}

.skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
  margin: 0 auto;
}
.skills_title {
  text-align: center;
}

.skills_list {
  color: #000;
  width: 100%;
  max-width: 100%;
  margin: 0;
  text-align: left;
  box-sizing: border-box;
  display: block;
}

/* Contact Page */
.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  text-align: left;
  align-items: center;
  gap: 1rem;
}

.contact-photo {
  width:400px;
  height: auto;
  justify-self: center;
}

/* Work Page Grid */
/* start grid fallback */
.project-list_item{
  display: inline-block;
  width: 100%;
 }
 /* end grid fallback */

.project-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0 auto;
}

.project-list_item{
  background-color: #000;
  color: #fff;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 20px;
  text-align: left;
  border: solid 1px #2b2b2b;
  box-sizing: border-box;
  display: block;
  place-items: center;
}

.project-list-title{
  color: #fff;
}

.users-paragraph{
  text-align: left;
  max-width: 500px;
  align-items: left;
  place-items: left
}

.work-links{
  text-align: center;
}

.project-list_item:last-child{
  grid-column: 1 / -1;;
  grid-row: auto;
  margin-bottom: 15px;
}

.project-images__container {
  display: flex;
  justify-content: center;
  gap: 20px;
  max-width: 800px;
}

.project-images{
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 300px;
  object-fit: contain;
  margin-bottom: 10px;
}

a {
    color: blue;
  }
  
  a:visited {
    /* visited link */
    color: purple;

  }
  a:hover, a:focus {
    /* No underlining when hovering over a link */
    text-decoration: none;
    color: red
  }
  a:active {
    /* selected link */
    color: green;
  }

.button {
    /* overwrites browser defaults and resets the border */
    /* resets the border */
    border: none;
    display: inline-block;
    /* takes the font from the outer container */
    font-family: inherit;
    /* styles the background color, font color, and text decoration (underline, etc.) of the button */
    background-color: #f2ad99;
    color: blue;
    text-decoration: none;
    /*adds spacing to the button (this will be discussed more in-depth later) */
    padding: 10px;
    margin: 5px;
    border-radius: 3px;
    /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    transition: opacity 0.2s;
  }

.work-button{
  background-color: #fff;
}

button:hover {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
    transition: transform 0.25s;
    transform:scale(1.1);
  }

button:focus {
    cursor: pointer;
    opacity: 0.8;
    transition: transform 0.25s;
    transform:scale(1.1);
  }

.button:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: transform 0.25s;
    transform:scale(1.1);
  }

.button:focus {
    cursor: pointer;
    opacity: 0.8;
    transition: transform 0.25s;
    transform:scale(1.1);
  }

.button__secondary {
    background-color: #E03400;
    color: #2b2b2b;
  }

/* Media Query for screens up to 1480px */
@media all and (max-width: 1480px) {
  .favicon {
    width: 200px;
    height: 200px;
  }

  .project-list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }

  main {
    padding: 1rem;
  }

  .project-images {
    max-width: 400px;
    max-height: 250px;
  }

  footer {
    padding: 1rem;
  }
}

/* Media Query for screens up to 1024px */
@media all and (max-width: 1024px) {
  .favicon {
    width: 200px;
    height: 200px;
  }

  .project-list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }

  .skills {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }

  main {
    padding: 1rem;
  }

  .profile {
    max-width: 80%;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }

  .about-section{
    grid-template-columns: 1fr;
  }

  .about-image {
    max-width: 400px;
    margin: 0 auto;
  }

  .project-images {
    max-width: 400px;
    max-height: 250px;
  }

  footer {
    padding: 1rem;
  }
}

/* Existing styles for smaller screens up to 768px */
@media all and (max-width: 768px) {
  .favicon {
    width: 150px;
    height: 150px;
  }

  .skills {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
  }

  .project-list {
    grid-template-columns: 1fr;
  }

  .project-list_item:last-child {
    grid-column: 1 / -1;
  }
  
  .project-images__container {
    flex-direction: column;
  }

  .contact{
    grid-template-columns: 1fr;
    text-align: center;
  }
  
}

/* For very small screens (max-width: 500px) */
@media all and (max-width: 500px) {
  .favicon {
    width: 150px;
    height: 150px;
  }
  .project-list {
    grid-template-columns: 1fr;
  }

  .skills {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
  }

  .project-list_item:last-child {
    grid-column: 1 / -1;
  }
}