/*
Colors used

Text Color (Dark Gray): #2b2b2b;
Primary Color (Orange): #E03400;
Secondary Color (Blue): #2d58ad;
 */

body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  color: #2b2b2b;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Header */
.page-header {
  display: flex;
  width: 100%;
  padding: 1vw;
  box-sizing: border-box;
}

.page-header__item {
  flex: 0 1 200px;
}

.favicon {
  width: 210px;
  height: 150px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__item--active {
  text-decoration: none;
}

/* Footer */
footer {
  clear: both;
  display: flex;
  flex-direction: column;
  bottom: 0;
  left: 0;
  margin-bottom: 0px;
  width: 100%;
  text-align: center;
  background-color: #fff;
  text-decoration: none;
  padding: 1rem;
  box-sizing: border-box;
}

.social-media {
  text-decoration: none;
}

.profile,
.about,
.contact {
  max-width: 1200px;
  margin: 0 auto;
}

main {
  flex-grow: 1;
  padding: 2rem;
  max-width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* Home Page */
.profile {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.profile_portrait {
  width: 25vw;
  margin-right: 2rem;
  border-radius: 50%;
}

/* About Page */
.table {
  margin: auto;
  padding: 1rem;
  text-align: center;
}

/*.hometown{
  text-align:center;
}

SVG animation info

svg * {
  transform-box:fill-box;
}

@keyframes color-change{
  0% {
    fill: #2b2b2b;
  }
  50% {
    fill: #4A68B5;
  }
  100% {
    fill: #E03400;
  }
}

.statue {
  animation: 8s color-change infinite alternate linear;
}

@keyframes skyline-fall{
  0% {
    tranform: translate(-200px,100px)
  }
  100%{
    transform: translate(0px,200px);
  }
}

.skyline{
  animation: 4s skyline-fall 2 alternate linear;
}*/

/* Contact Page */
.info {
  display: flex;
  width: 100%;
  line-height: 1.5;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  text-align: left;
  flex-direction: column;
}

.contact {
  color: #4A68B5;
  line-height: 0.5;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
}

.form {
  line-height: 2;
}

/* Work Page Grid */
/* start grid fallback */
.project-list_item {
  display: inline-block;
  width: 100%;
}

/* end grid fallback */

.project-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0 auto;
}

.project-list_item {
  background-color: #aebae9;
  color: #000;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 20px;
  text-align: center;
  border: solid 1px #2b2b2b;
  box-sizing: border-box;
  display: block;
}

.project-list_item:last-child {
  grid-column: 1 / -1;
  ;
  grid-row: auto;
}

.project-images {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 300px;
  object-fit: contain;
  margin-bottom: 10px;
}

.project-images__container {
  display: flex;
  align-items: center;
  gap: 10px;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  color: #E03400;
  margin: 10px;
  width: 100%;
  text-align: center;
}

.caption {
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  color: #2b2b2b;
  margin: 10px
}

a {
  color: blue;
}

a:visited {
  /* visited link */
  color: purple;

}

a:hover,
a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
  color: red
}

a:active {
  /* selected link */
  color: green;
}

h2 {
  color: #000;
  line-height: 0.5;
  font-size: 20px;
}

button {
  /* overwrites browser defaults and resets the border */
  /* resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: #4A68B5;
  color: #fff;
  text-decoration: none;
  /*adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  margin: 5px;
  border-radius: 3px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: opacity 0.2s;
}

.button {
  /* overwrites browser defaults and resets the border */
  /* resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: #4A68B5;
  color: #fff;
  text-decoration: none;
  /*adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  margin: 5px;
  border-radius: 3px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: opacity 0.2s;
}

button:hover {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
  transition: transform 0.25s;
  transform: scale(1.1);
}

button:focus {
  cursor: pointer;
  opacity: 0.8;
  transition: transform 0.25s;
  transform: scale(1.1);
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: transform 0.25s;
  transform: scale(1.1);
}

.button:focus {
  cursor: pointer;
  opacity: 0.8;
  transition: transform 0.25s;
  transform: scale(1.1);
}

.button__secondary {
  background-color: #E03400;
  color: #2b2b2b;
}

/* Media Query for screens up to 1024px */
@media all and (max-width: 1480px) {

  .project-list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }

  h1 {
    font-size: 28px;
  }

  main {
    padding: 1rem;
  }

  .profile {
    max-width: 80%;
    margin: 0 auto;
  }

  .project-images {
    max-width: 400px;
    max-height: 250px;
  }

  footer {
    padding: 1rem;
  }
}

/* Media Query for screens up to 1024px */
@media all and (max-width: 1024px) {

  .project-list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }

  h1 {
    font-size: 28px;
  }

  main {
    padding: 1rem;
  }

  .profile {
    max-width: 80%;
    margin: 0 auto;
  }

  .project-images {
    max-width: 400px;
    max-height: 250px;
  }

  footer {
    padding: 1rem;
  }
}

/* Existing styles for smaller screens up to 768px */
@media all and (max-width: 768px) {

  .project-list {
    grid-template-columns: 1fr;
  }

  h1 {
    font-size: 22px;
  }

  .project-list_item:last-child {
    grid-column: 1 / -1;
  }

  .project-images__container {
    flex-direction: column;
  }

}

/* For very small screens (max-width: 500px) */
@media all and (max-width: 500px) {

  .project-list {
    grid-template-columns: 1fr;
  }

  h1 {
    font-size: 18px;
  }

  .project-list_item:last-child {
    grid-column: 1 / -1;
  }
}